@font-face {
  font-family: "VremenaGrotesk";
  src: url("/vremena-grotesk/") format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: VremenaGrotesk, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.top-row {
  width: 100vw;
  height: 55px;
  position: relative;
  background-color: #e9ecef;
}
.top-row .container-fluid {
  position: relative;
  padding: 20px 20px;
}
.top-row .contacts-list {
  list-style-type: none;
  font-size: 15px;
}
.top-row .contacts-list .fa-twitter {
  margin-left: 10px;
  font-size: 14px;
}
.top-row .contacts-list .fa-phone {
  margin-left: 20px;
  background-color: transparent;
  font-size: 18px;
}
.top-row .contacts-list .phone-number {
  margin-left: 10px;
  font-size: 14px;
}
.top-row .contacts-list li i {
  color: #343a40;
}
.top-row .contacts-list :hover:not(.phone-number):not(.fa-phone) {
  transition: 0.2s;
  color: #bcac76;
}
.top-row .top-row-content .left-side-contacts-container {
  padding-top: 10px;
}
.top-row .top-row-content .text-container {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #343a40;
  padding-top: 10px;
}
.top-row .top-row-content .language .dropdown-toggle {
  border: transparent;
  border-right: 1px solid #dee2e6;
  border-radius: 0px;
  font-size: 14px;
  font-weight: 300;
}
.top-row .top-row-content .language .dropdown-menu {
  border: transparent;
  background-color: white;
  transition: 0.5s;
  text-align: left;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.175);
  border-radius: 0px;
  padding: 0.5rem 0;
}
.top-row .top-row-content .language .dropdown-menu .dropdown-item {
  color: #868e96;
  font-size: 14px;
  font-weight: 600;
  padding: 0.5rem;
}
.top-row .top-row-content .currency .dropdown-toggle {
  border: transparent;
  border-radius: 0px;
  font-size: 14px;
  font-weight: 300;
}
.top-row .top-row-content .currency .dropdown-menu {
  border: transparent;
  background-color: white;
  text-align: left;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.175);
  border-radius: 0px;
  padding: 0.5rem 0;
}
.top-row .top-row-content .currency .dropdown-menu .dropdown-item {
  color: #868e96;
  font-size: 14px;
  font-weight: 600;
  padding: 0.5rem;
}

nav {
  border-bottom: 1px solid #f8f9fa !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05) !important;
  z-index: 2 !important;
  padding: 1rem 2rem !important;
}
nav .container-fluid {
  background-color: transparent;
}
nav .index-btn {
  font-size: 16px;
  font-weight: 600;
}
nav .navbar-nav {
  color: #8a8a8a;
  font-size: 16px;
  font-weight: 500;
}
nav .search-bar {
  margin-left: auto;
  margin-right: 3rem;
  width: 300px;
}
nav .search-bar button {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  outline: none;
  background-color: transparent;
  margin-left: -10px;
}
nav .search-bar button i {
  position: relative;
  top: 4px;
  font-size: 24px;
}
nav .search-bar .search-nav {
  outline: 0;
  background-color: transparent;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid black;
  border-radius: 0;
}
nav .login-checkout-container ul {
  margin-bottom: 0 !important;
  font-size: 24px;
  list-style-type: none;
  gap: 20px;
}
nav .login-checkout-container ul .shopping-cart-items-count {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  text-align: center;
  background-color: #bcac76;
  position: absolute;
  font-size: 12px;
  right: 80px;
  color: white;
}
nav .login-checkout-container ul li button {
  border: none;
  background-color: transparent;
  outline: none;
}

.varkalacontainer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.varkalacontainer .row {
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.varkalacontainer .row .col-xl-2 {
  width: 100px;
  padding-left: 15px;
  padding-right: 15px;
}
.varkalacontainer .row .col-xl-6 h6 {
  color: #bcac76 !important;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 6px;
  margin-bottom: 1rem;
}
.varkalacontainer .row .col-xl-6 h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 94px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.varkalacontainer .row .col-xl-6 p {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #868e96 !important;
}

/*# sourceMappingURL=about.css.map */
