$primary-color: #e9ecef;
$secondary-color: #bcac76;
$icons-color: #343a40;
$navbar-color: #8a8a8a;
@font-face {
  font-family: "VremenaGrotesk";
  src: url("/vremena-grotesk/") format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: VremenaGrotesk, sans-serif;
}
html,
body {
  overflow-x: hidden;
}

.top-row {
  width: 100vw;
  height: 55px;
  position: relative;
  background-color: $primary-color;
  .container-fluid {
    position: relative;
    padding: 20px 20px;
  }
  .contacts-list {
    list-style-type: none;
    font-size: 15px;
    .fa-twitter {
      margin-left: 10px;
      font-size: 14px;
    }
    .fa-phone {
      margin-left: 20px;
      background-color: transparent;
      font-size: 18px;
    }
    .phone-number {
      margin-left: 10px;
      font-size: 14px;
    }
    li i {
      color: $icons-color;
    }
    :hover:not(.phone-number):not(.fa-phone) {
      transition: 0.2s;
      color: $secondary-color;
    }
  }
  .top-row-content {
    .left-side-contacts-container {
      padding-top: 10px;
    }
    .text-container {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: #343a40;
      padding-top: 10px;
    }
    .language {
      .dropdown-toggle {
        border: transparent;
        border-right: 1px solid rgba($color: #dee2e6, $alpha: 1);
        border-radius: 0px;
        font-size: 14px;
        font-weight: 300;
      }

      .dropdown-menu {
        border: transparent;
        background-color: white;
        transition: 0.5s;
        text-align: left;
        box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.175);
        border-radius: 0px;
        padding: 0.5rem 0;
        .dropdown-item {
          color: #868e96;
          font-size: 14px;
          font-weight: 600;
          padding: 0.5rem;
        }
      }
    }
    .currency {
      .dropdown-toggle {
        border: transparent;
        border-radius: 0px;
        font-size: 14px;
        font-weight: 300;
      }

      .dropdown-menu {
        border: transparent;
        background-color: white;
        text-align: left;
        box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.175);
        border-radius: 0px;
        padding: 0.5rem 0;
        .dropdown-item {
          color: #868e96;
          font-size: 14px;
          font-weight: 600;
          padding: 0.5rem;
        }
      }
    }
  }
}
nav {
  .collapse {
    .dropdown.show {
      .btn {
        outline: none;
        border: none;
        background-color: transparent;
        color: black;
      }
      #menu2 {
        min-width: 750px;
        position: absolute;
        .row {
          flex-wrap: wrap;
          .col-lg-4.item-links {
            padding: 3rem !important;
            h6 {
              font-size: 14px;
              font-weight: 700;
              color: #212529;
              padding: 0.5rem 1.5rem;
              padding-left: 0 !important;
            }
            .dropdown-item {
              padding-left: 0 !important;
            }
          }
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      #menu3 {
        min-width: 750px;
        .row {
          padding: 3rem 1.5rem;
          flex-wrap: wrap;
          .top-row {
            margin-bottom: 5rem;
            background-color: transparent;
          }
          .col-6 {
            padding-right: 15px;
            padding-left: 15px;
            a {
              color: black;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
              h6 {
                font-size: 16px;
                font-weight: 700;
                line-height: 21px;
              }
            }
          }
        }
        img {
          height: 50px;
          width: 50px;
          margin-bottom: 0.5rem;
        }
        .icons-bottomtext {
          font-size: 14px;
          font-weight: 500;
          color: #212529;
          text-align: center;
          padding: 1rem;
          background-color: #bcac76;
          p {
            margin-bottom: 0;
          }
        }
      }
      #menu4 {
        position: absolute;
        left: -425%;
        overflow: hidden;
        width: 100%;
        max-width: 1300px;
        width: max-content;
        padding-left: 3rem !important;
        .row {
          flex-wrap: wrap;
          margin-left: -15px;
          margin-right: -15px;
          .col-lg-3 {
            padding-left: 15px;
            padding-right: 15px;
            img {
              max-width: 100%;
              height: auto;
              margin-bottom: 1rem;
            }
            h6 {
              font-size: 1rem;
              font-weight: 700;
              line-height: 1.3;
              margin-top: 0;
            }
            .megamenu-list {
              margin-bottom: 1.5rem;
              font-size: 0.8rem;
              li {
                margin-bottom: 5px;
                a {
                  padding: 5px 0;
                  text-decoration: none;
                  color: #868e96;
                  span {
                    color: #bcac76;
                    background-color: #f7f5ef;
                    margin-left: 0.25rem;
                  }
                }
              }
            }
            .mb-lg-0 {
              margin-bottom: 0;
            }
          }
        }
      }
      #menu5 {
        min-width: 10rem;
      }
      .dropdown-menu {
        margin-top: 1.2rem;
        box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.175);
        border: none;
        border-radius: 0;
        .dropdown-item {
          padding: 0.4rem 1.5rem;
          color: #868e96;
          white-space: nowrap;
          font-size: 14px;
          font-weight: 400;
          &:hover {
            color: black;
            background-color: transparent;
          }
          .badge-primary-light {
            color: #bcac76;
            background-color: #f7f5ef;
          }
        }
      }
    }
  }
  padding: 1rem 2rem !important;
  .container-fluid {
    background-color: transparent;
  }
  .index-btn {
    font-size: 16px;
    font-weight: 600;
  }
  .navbar-nav {
    color: $navbar-color;
    font-size: 16px;
    font-weight: 500;
  }
  .search-bar {
    margin-left: auto;
    margin-right: 3rem;
    width: 300px;
    button {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid black;
      outline: none;
      background-color: transparent;
      margin-left: -10px;
      i {
        position: relative;
        top: 4px;
        font-size: 24px;
      }
    }
    .search-nav {
      outline: 0;
      border-right: none;
      border-top: none;
      border-left: none;
      border-bottom: 1px solid black;
      border-radius: 0;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
  .login-checkout-container {
    ul {
      margin-bottom: 0 !important;
      font-size: 24px;
      list-style-type: none;
      gap: 20px;
      .shopping-cart-items-count {
        border-radius: 50%;
        width: 16px;
        height: 16px;
        text-align: center;
        background-color: $secondary-color;
        position: absolute;
        font-size: 12px;
        right: 80px;
        color: white;
      }
      li {
        button {
          border: none;
          background-color: transparent;
          outline: none;
        }
      }
    }
  }
  // .dropdown-toggle {
  //   outline: none;
  //   border: none;
  //   color: gray;
  //   font-size: 16px;
  //   font-weight: 400;
  //   &:hover {
  //     color: black;
  //     cursor: default;
  //   }
  // }
  // .dropdown-menu {
  //   border: transparent;
  //   background-color: white;
  //   transition: 0.5s;
  //   text-align: left;
  //   box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.175);
  //   border-radius: 0px;
  //   padding: 0.5rem 0;
  //   min-width: 750px;
  //   position: absolute;
  //   .dropdown-menu-end {
  //     right: -600px;
  //     left: auto;
  //   }
  //   .dropdown-item {
  //     color: #868e96;
  //     font-size: 14px;
  //     font-weight: 600;
  //     padding: 0.5rem;
  //   }
  // }
}
.varkalacontainer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  .row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    .col-xl-2 {
      width: 100px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .col-xl-6 {
      h6 {
        color: #bcac76 !important;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 6px;
        margin-bottom: 1rem;
      }
      h1 {
        font-weight: 700;
        font-size: 72px;
        line-height: 94px;
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
      p {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: 600;
        color: #868e96 !important;
      }
    }
  }
}
.historycontainer {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
  padding-bottom: 6rem;
  .r1 {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 3rem;
    .col-xl-2 {
      width: 100px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .col-xl-8 {
      h6 {
        color: #bcac76 !important;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 6px;
        margin-bottom: 1rem;
      }
      h2 {
        font-weight: 700;
        font-size: 72px;
        line-height: 94px;
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
    }
  }
  .r2 {
    .historyimg {
      width: 100%;
      height: auto;
    }
    .col-sm-8 {
      display: flex;
      align-items: center;
      margin-left: 8.5%;
      h6 {
        letter-spacing: 6px;
        font-weight: 800;
        margin-bottom: 0.25rem;
      }
      h2 {
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 1.5rem;
      }
      p {
        margin-bottom: 1rem;
        font-weight: 400;
        line-height: 26px;
      }
    }
  }
  .r3 {
    .col-sm-8 {
      display: flex;
      align-items: center;
    }
    .col-sm-4 {
      margin-left: 8.3%;
      .historyvarkalaimage2 {
        width: 100%;
        height: auto;
        vertical-align: middle;
      }
    }
  }
}
.milestones-section {
  background-color: #f8f9fa;
  padding-top: 6rem;
  padding-bottom: 6rem;
  .milestones-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    .row {
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      .col-lg-5 {
        padding-right: 15px;
        padding-left: 15px;
        h2 {
          margin-bottom: 1.5rem;
          font-weight: 700;
          font-size: 32px;
        }
        p {
          font-weight: 600;
          font-size: 20px;
          color: #868e96 !important;
        }
      }
      .col-lg-6 {
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
        .row {
          flex-wrap: wrap;
          .col-sm-6 {
            margin-bottom: 1.5rem;
            h4 {
              font-size: 1.5rem;
              margin-bottom: 0.5rem;
              font-weight: 700;
              line-height: 1.3;
            }
            p {
              color: #868e96 !important;
              font-weight: 600;
              margin-bottom: 1.5rem;
            }
          }
        }
      }
    }
  }
}
.foundersquote {
  padding-top: 3rem;
  padding-bottom: 3rem;
  .foundersquotecontainer {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    .row {
      flex-wrap: wrap;
      .col-lg-5 {
        padding-right: 15px;
        padding-left: 15px;
        .foundersphoto {
          padding: 3rem;
          img {
            border-radius: 50%;
            max-width: 100%;
            height: auto;
          }
        }
      }
      .col-lg-6 {
        padding-right: 15px;
        padding-left: 15px;
        .blockquotecontainer {
          .icon {
            margin-bottom: 3rem;
            padding-top: 1rem;
            background-image: url(/assets/images/blockquoteicon.svg);
            .text-xl {
              font-family: "Playfair Display", serif !important;
              font-size: 2rem;
              margin-bottom: 1.5rem;
            }
            h6 {
              color: #bcac76 !important;
              font-size: 1.25rem;
              letter-spacing: 4px;
              font-weight: 700;
              margin-bottom: 0.5rem;
            }
          }
          p {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
.our-teamcontainer {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  padding-bottom: 3rem;
  .row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    .col-xl-2 {
      width: 100px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .col-xl-10 {
      h6 {
        color: #bcac76 !important;
        font-weight: 700;
        letter-spacing: 6px;
        margin-bottom: 1rem;
      }
      h1 {
        font-weight: 700;
        font-size: 72px;
        line-height: 94px;
        margin: 0.67em 0px;
      }
      .row {
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        .col-6 {
          text-align: center;
          margin-bottom: 1.5rem;
          img {
            width: 10rem;
            box-shadow: none;
            border-radius: 50%;
            margin-bottom: 1rem;
          }
          h4 {
            margin-bottom: 0.25rem;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.3;
          }
          p {
            font-size: 0.87rem;
          }
        }
      }
    }
  }
}
.slider {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #f8f9fa;
  .slider-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    .swiper-container {
      position: relative;
      overflow: hidden;
      .swiper-wrapper {
        display: flex;
        position: relative;
        height: 100%;
        width: 100%;
        padding-bottom: 3rem;
        box-sizing: content-box;
        .swiper-slide {
          display: flex;
          width: 210px;
          margin-right: 15px;
          height: auto !important;
          align-items: center;
          justify-content: center;
          img {
            opacity: 0.7;
            width: 6rem;
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
.prefooter {
  padding-top: 6rem;
  padding-bottom: 6rem;
  .prefootercontainer {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    .row {
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      .col-lg-10 {
        margin-left: auto;
        margin-right: auto;
        h2 {
          margin-bottom: 6rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.3;
        }
      }
      .col-lg-5 {
        padding-left: 15px;
        padding-right: 15px;
        p {
          font-size: 14px;
          font-weight: 600;
          line-height: 22px;
          color: #868e96 !important;
        }
      }
    }
  }
}
.modal {
  display: block;
  // transform: translateX(-100%);
  // transition: transform 0.3s ease-in-out;
  position: fixed;

  pointer-events: none;
  .modal-dialog {
    display: block;
    pointer-events: none;
    transition: transform 0.3s ease-in-out;
    max-width: 500px;
    height: 100vh;
    margin: 0px 0 0 auto;
    .modal-content {
      display: flex;
      // transform: translate(1000px, 0px);
      overflow-x: hidden;
      overflow-y: auto;
      border-radius: 0;
      height: 100%;
      .modal-header {
        display: flex;
        .closebtn {
          margin: -1rem -1rem -1rem auto !important;
          padding: 1rem;
          background-color: transparent;
          border: none;
          outline: none;
          font-size: 26px;
          i {
            &:hover {
              transform: rotate(90deg);
              transition: all linear 0.1s;
            }
          }
        }
      }
      .modal-body {
        padding: 1rem 3rem;
        .sidebar-cart-product-wrapper {
          overflow-y: auto;
          margin-right: -3rem;
          padding-right: 2.6rem;
          .customscrollbox {
            position: relative;
            overflow: hidden;
            height: 100%;
            max-width: 100%;
            outline: none;
            direction: ltr;
            max-height: 592px;
            .customscrollbox-container {
              position: relative;
              top: 0px;
              left: 0px;
              width: auto;
              height: 400px;
              margin-right: 30px;
              overflow: scroll;
              .navbar-cart-product {
                .item-container {
                  display: flex;
                  align-items: center;
                  padding-top: 2rem;
                  height: 80px;
                  padding-bottom: 2rem;
                  border-bottom: 1px solid grey;
                  overflow: hidden;
                  a {
                    .itemimg {
                      height: 100%;
                      max-width: 80px;
                    }
                  }
                  .item-content {
                    width: 100%;
                    .closebtn-deleteitem {
                      float: right;
                      font-size: 1rem;
                      line-height: 1;
                      border: none;
                      opacity: 0.5;
                      background-color: transparent;
                      &:hover {
                        opacity: 1;
                      }
                    }
                    .pl-3 {
                      padding-left: 1rem;
                      a {
                        text-decoration: none;
                        color: black;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .modal-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 200px;
        padding-right: 3rem;
        padding-left: 3rem;
        border: none;
        justify-content: flex-start;
        align-content: center;
        .w-100 {
          margin: 0.25rem;
          h5 {
            margin-bottom: 1.5rem;
            font-size: 1.25rem;
            font-weight: 700;
            span {
              float: right;
            }
          }
          .btn {
            letter-spacing: 0.3em;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 1rem !important;
            width: 100%;
            border-radius: 0;
            font-size: 13px;
          }
        }
      }
    }
  }
}
.sidebar-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  .modal-dialog {
    display: none;
    max-width: 500px;
    height: 100vh;
    .modal-content {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: white;
      height: 100%;
      .modal-header {
        display: flex;
        padding: 1rem 1rem;
        button {
          margin: -1rem -1rem -1rem auto !important;
          padding: 1rem;
          background-color: transparent;
          border: none;
          outline: none;
          font-size: 26px;
          i {
            &:hover {
              transform: rotate(90deg);
              transition: all linear 0.1s;
            }
          }
        }
      }
      .modal-body {
        padding-top: 1rem;

        h5 {
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 48px;
        }
        .nav {
          margin-bottom: 8rem;

          .nav-item {
            .nav-link {
              color: #868e96;
              font-weight: 500;
              &:hover {
                color: #bcac76;
              }
            }
          }
          .dropdown.show {
            a {
              border: none;
              background-color: transparent;
              color: #868e96;
              &:hover {
                color: #bcac76;
              }
            }
            .dropdown-menu {
              border: none;
              position: relative;
              margin-bottom: 50px;
              a {
                &:hover {
                  color: #bcac76;
                }
              }
            }
          }
        }
        .list-inline {
          margin-bottom: 1rem;
        }
        p {
          font-size: 0.87rem;
          font-weight: 600;
        }
      }
    }
  }
}

footer {
  .bg-gray-100 {
    background-color: #f8f9fa;
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;

    .footer-container {
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto;
      padding-right: 15px;
      padding-left: 15px;

      .row {
        .col-lg-3 {
          display: flex;
          align-items: center !important;
          padding-top: 1.5rem;
          padding-bottom: 1.5rem;
          i {
            font-size: 24px;
            margin-right: 1rem;
          }
          .service-text {
            .text-sm {
              font-size: 14px;
              font-weight: 700;
              line-height: 18px;
            }
            font-size: 14px;
          }
        }
      }
    }
  }
  .footer-last {
    padding-top: 6rem;
    padding-bottom: 6rem;
    .footer-last-container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1140px;
      .row {
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        .col-lg-5 {
          padding-right: 6rem;

          h6 {
            margin-bottom: 1.5rem;
          }
          p {
            font-size: 0.87rem;
            font-weight: 400;
            color: #868e96;
            margin-bottom: 0.875rem;
          }
          form {
            .email-input-underlined {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              input {
                border-left: none;
                border-right: none;
                border-top: none;
                width: 90%;
                border-bottom: 1px solid grey;
              }
              i {
                font-size: 26px;
              }
            }
          }
        }
        .col-lg-7 {
          .row {
            flex-wrap: wrap;
            .col-lg-4 {
              .expand-lg-collapse {
                h6 {
                  letter-spacing: 0.1em;
                  margin-bottom: 1.5rem;
                  font-weight: 700;
                }
                ul {
                  font-size: 0.87rem;
                  list-style-type: none;
                  text-align: left;
                  padding-left: 0 !important;

                  li {
                    margin-bottom: 0.5rem;
                    text-align: left;

                    a {
                      text-decoration: none;
                      color: #868e96;
                      font-weight: 600;
                      position: relative;

                      &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -2px;
                        width: 100%;
                        height: 2px;
                        background-color: black;
                        transform-origin: left;
                        transform: scaleX(0);
                        transition: transform 0.3s ease-in;
                      }

                      &:hover::before {
                        transform: scaleX(1);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .footer-end-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #868e96 !important;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    .row {
      font-size: 0.87rem;
      color: #adb5bd;
      .col-lg-8 {
        text-align: right !important;
        ul {
          li {
            margin-right: 0.5rem;
            a {
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@media (max-width: 767px) {
  .left-side-contacts-container {
    display: none;
  }
  .text-container {
    text-align: left !important;
  }
}
@media (max-width: 575px) {
  .col-md-4.col-sm-6.language-currency {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .footer-container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 576px) {
  .footer-container {
    max-width: 540px;
    margin-left: auto;
  }
}
