$primary-color: #e9ecef;
$secondary-color: #bcac76;
$icons-color: #343a40;
$navbar-color: #8a8a8a;
@font-face {
  font-family: "VremenaGrotesk";
  src: url("/vremena-grotesk/") format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: VremenaGrotesk, sans-serif;
}
html,
body {
  overflow-x: hidden;
}

.top-row {
  width: 100vw;
  height: 55px;
  position: relative;
  background-color: $primary-color;
  .container-fluid {
    position: relative;
    padding: 20px 20px;
  }
  .contacts-list {
    list-style-type: none;
    font-size: 15px;
    .fa-twitter {
      margin-left: 10px;
      font-size: 14px;
    }
    .fa-phone {
      margin-left: 20px;
      background-color: transparent;
      font-size: 18px;
    }
    .phone-number {
      margin-left: 10px;
      font-size: 14px;
    }
    li i {
      color: $icons-color;
    }
    :hover:not(.phone-number):not(.fa-phone) {
      transition: 0.2s;
      color: $secondary-color;
    }
  }
  .top-row-content {
    .left-side-contacts-container {
      padding-top: 10px;
    }
    .text-container {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: #343a40;
      padding-top: 10px;
    }
    .language {
      .dropdown-toggle {
        border: transparent;
        border-right: 1px solid rgba($color: #dee2e6, $alpha: 1);
        border-radius: 0px;
        font-size: 14px;
        font-weight: 300;
      }

      .dropdown-menu {
        border: transparent;
        background-color: white;
        transition: 0.5s;
        text-align: left;
        box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.175);
        border-radius: 0px;
        padding: 0.5rem 0;
        .dropdown-item {
          color: #868e96;
          font-size: 14px;
          font-weight: 600;
          padding: 0.5rem;
        }
      }
    }
    .currency {
      .dropdown-toggle {
        border: transparent;
        border-radius: 0px;
        font-size: 14px;
        font-weight: 300;
      }

      .dropdown-menu {
        border: transparent;
        background-color: white;
        text-align: left;
        box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.175);
        border-radius: 0px;
        padding: 0.5rem 0;
        .dropdown-item {
          color: #868e96;
          font-size: 14px;
          font-weight: 600;
          padding: 0.5rem;
        }
      }
    }
  }
}
nav {
  padding: 1rem 2rem !important;
  .container-fluid {
    background-color: transparent;
  }
  .index-btn {
    font-size: 16px;
    font-weight: 600;
  }
  .navbar-nav {
    color: $navbar-color;
    font-size: 16px;
    font-weight: 500;
  }
  .search-bar {
    margin-left: auto;
    margin-right: 3rem;
    width: 300px;
    button {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid black;
      outline: none;
      background-color: transparent;
      margin-left: -10px;
      i {
        position: relative;
        top: 4px;
        font-size: 24px;
      }
    }
    .search-nav {
      outline: 0;
      background-color: transparent;
      border-right: none;
      border-top: none;
      border-left: none;
      border-bottom: 1px solid black;
      border-radius: 0;
    }
  }
  .login-checkout-container {
    ul {
      margin-bottom: 0 !important;
      font-size: 24px;
      list-style-type: none;
      gap: 20px;
      .shopping-cart-items-count {
        border-radius: 50%;
        width: 16px;
        height: 16px;
        text-align: center;
        background-color: $secondary-color;
        position: absolute;
        font-size: 12px;
        right: 80px;
        color: white;
      }
      li {
        button {
          border: none;
          background-color: transparent;
          outline: none;
        }
      }
    }
  }
}
.simpleParallax {
  z-index: -100;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  height: 584.406px;
  width: 100%;
  visibility: visible;
  .parallaxmainimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: translate3d(0, 0, 0);
    z-index: -100;
  }
}

.blog-main-image {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  position: relative;
  overflow: hidden;
  top: 0;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .container {
    .container-paragraph {
      position: relative;
      font-size: 20px;
      font-weight: 300;
      color: #212529;
    }
    .breadcrumb {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .breadcrumb-list {
      list-style-type: none;
      text-decoration: none;
      position: relative;

      display: flex;
      justify-content: center;
      .breadcrumb-item {
        a {
          text-decoration: none;
          color: black;
        }
        .home-item {
          color: #bcac76;

          &:hover {
            text-decoration: underline;
            transition: 0.3s;
          }
        }
      }
    }
    .blog-main-container {
      position: relative;

      h1 {
        font-size: 3.5rem;
        margin: 0.7em;
        font-weight: 700;
        line-height: 73px;
      }
    }
  }
}
.blog-cards {
  padding-top: 10rem !important;
  padding-bottom: 6rem;
  position: relative;
  height: max-content;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: white;
  .blog-cards-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    overflow: hidden !important;
    .row {
      flex-wrap: wrap;
      .col-lg-4 {
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 3rem;
        .aos-init {
          a {
            margin-bottom: 1.5rem;
            .img1 {
              height: auto;
              max-width: 100%;
            }
          }
          h5 {
            margin-bottom: 0.5rem;
            font-size: 1.25rem;
            margin-top: 0;
            a {
              color: #212529;
              text-decoration: none;
              font-weight: 700;
            }
          }
          p {
            color: #adb5bd;
            font-size: 0.87rem;
            margin-top: 0;
            margin-bottom: 1rem;
            a {
              font-size: 0.7rem;
              letter-spacing: 0.15em;
              text-transform: uppercase;
              margin-right: 0.5rem;
              color: #bcac76;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
