$primary-color: #e9ecef;
$secondary-color: #bcac76;
$icons-color: #343a40;
$navbar-color: #8a8a8a;
@font-face {
  font-family: "VremenaGrotesk";
  src: url("/vremena-grotesk/") format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: VremenaGrotesk, sans-serif;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.top-row {
  width: 100vw;
  height: 55px;
  position: relative;
  background-color: $primary-color;
  .container-fluid {
    position: relative;
    padding: 20px 20px;
  }
  .contacts-list {
    list-style-type: none;
    font-size: 15px;
    .fa-twitter {
      margin-left: 10px;
      font-size: 14px;
    }
    .fa-phone {
      margin-left: 20px;
      background-color: transparent;
      font-size: 18px;
    }
    .phone-number {
      margin-left: 10px;
      font-size: 14px;
    }
    li i {
      color: $icons-color;
    }
    :hover:not(.phone-number):not(.fa-phone) {
      transition: 0.2s;
      color: $secondary-color;
    }
  }
  .top-row-content {
    .left-side-contacts-container {
      padding-top: 10px;
    }
    .text-container {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: #343a40;
      padding-top: 10px;
    }
    .language {
      .dropdown-toggle {
        border: transparent;
        border-right: 1px solid rgba($color: #dee2e6, $alpha: 1);
        border-radius: 0px;
        font-size: 14px;
        font-weight: 300;
      }

      .dropdown-menu {
        border: transparent;
        background-color: white;
        transition: 0.5s;
        text-align: left;
        box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.175);
        border-radius: 0px;
        padding: 0.5rem 0;
        .dropdown-item {
          color: #868e96;
          font-size: 14px;
          font-weight: 600;
          padding: 0.5rem;
        }
      }
    }
    .currency {
      .dropdown-toggle {
        border: transparent;
        border-radius: 0px;
        font-size: 14px;
        font-weight: 300;
      }

      .dropdown-menu {
        border: transparent;
        background-color: white;
        text-align: left;
        box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.175);
        border-radius: 0px;
        padding: 0.5rem 0;
        .dropdown-item {
          color: #868e96;
          font-size: 14px;
          font-weight: 600;
          padding: 0.5rem;
        }
      }
    }
  }
}
nav {
  .collapse {
    .dropdown.show {
      .btn {
        outline: none;
        border: none;
        background-color: transparent;
        color: black;
      }
      #menu2 {
        min-width: 750px;
        position: absolute;
        .row {
          flex-wrap: wrap;
          .col-lg-4.item-links {
            padding: 3rem !important;
            h6 {
              font-size: 14px;
              font-weight: 700;
              color: #212529;
              padding: 0.5rem 1.5rem;
              padding-left: 0 !important;
            }
            .dropdown-item {
              padding-left: 0 !important;
            }
          }
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      #menu3 {
        min-width: 750px;
        .row {
          padding: 3rem 1.5rem;
          flex-wrap: wrap;
          .top-row {
            margin-bottom: 5rem;
            background-color: transparent;
          }
          .col-6 {
            padding-right: 15px;
            padding-left: 15px;
            a {
              color: black;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
              h6 {
                font-size: 16px;
                font-weight: 700;
                line-height: 21px;
              }
            }
          }
        }
        img {
          height: 50px;
          width: 50px;
          margin-bottom: 0.5rem;
        }
        .icons-bottomtext {
          font-size: 14px;
          font-weight: 500;
          color: #212529;
          text-align: center;
          padding: 1rem;
          background-color: #bcac76;
          p {
            margin-bottom: 0;
          }
        }
      }
      #menu4 {
        position: absolute;
        left: -425%;
        overflow: hidden;
        width: 100%;
        max-width: 1300px;
        width: max-content;
        padding-left: 3rem !important;
        .row {
          flex-wrap: wrap;
          margin-left: -15px;
          margin-right: -15px;
          .col-lg-3 {
            padding-left: 15px;
            padding-right: 15px;
            img {
              max-width: 100%;
              height: auto;
              margin-bottom: 1rem;
            }
            h6 {
              font-size: 1rem;
              font-weight: 700;
              line-height: 1.3;
              margin-top: 0;
            }
            .megamenu-list {
              margin-bottom: 1.5rem;
              font-size: 0.8rem;
              li {
                margin-bottom: 5px;
                a {
                  padding: 5px 0;
                  text-decoration: none;
                  color: #868e96;
                  span {
                    color: #bcac76;
                    background-color: #f7f5ef;
                    margin-left: 0.25rem;
                  }
                }
              }
            }
            .mb-lg-0 {
              margin-bottom: 0;
            }
          }
        }
      }
      .menu5 {
        min-width: 10rem;
      }
      .dropdown-menu {
        margin-top: 1.2rem;
        box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.175);
        border: none;
        border-radius: 0;
        .dropdown-item {
          padding: 0.4rem 1.5rem;
          color: #868e96;
          white-space: nowrap;
          font-size: 14px;
          font-weight: 400;
          &:hover {
            color: black;
            background-color: transparent;
          }
          .badge-primary-light {
            color: #bcac76;
            background-color: #f7f5ef;
          }
        }
      }
    }
  }
  padding: 1rem 2rem !important;
  .container-fluid {
    background-color: transparent;
  }
  .index-btn {
    font-size: 16px;
    font-weight: 600;
  }
  .navbar-nav {
    color: $navbar-color;
    font-size: 16px;
    font-weight: 500;
  }
  .search-bar {
    margin-left: auto;
    margin-right: 3rem;
    width: 300px;
    button {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid black;
      outline: none;
      background-color: transparent;
      margin-left: -10px;
      i {
        position: relative;
        top: 4px;
        font-size: 24px;
      }
    }
    .search-nav {
      outline: 0;
      border-right: none;
      border-top: none;
      border-left: none;
      border-bottom: 1px solid black;
      border-radius: 0;
    }
  }
  .login-checkout-container {
    ul {
      margin-bottom: 0 !important;
      font-size: 24px;
      list-style-type: none;
      gap: 20px;
      .shopping-cart-items-count {
        border-radius: 50%;
        width: 16px;
        height: 16px;
        text-align: center;
        background-color: $secondary-color;
        position: absolute;
        font-size: 12px;
        right: 80px;
        color: white;
      }
      li {
        button {
          border: none;
          background-color: transparent;
          outline: none;
        }
      }
    }
  }
  // .dropdown-toggle {
  //   outline: none;
  //   border: none;
  //   color: gray;
  //   font-size: 16px;
  //   font-weight: 400;
  //   &:hover {
  //     color: black;
  //     cursor: default;
  //   }
  // }
  // .dropdown-menu {
  //   border: transparent;
  //   background-color: white;
  //   transition: 0.5s;
  //   text-align: left;
  //   box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.175);
  //   border-radius: 0px;
  //   padding: 0.5rem 0;
  //   min-width: 750px;
  //   position: absolute;
  //   .dropdown-menu-end {
  //     right: -600px;
  //     left: auto;
  //   }
  //   .dropdown-item {
  //     color: #868e96;
  //     font-size: 14px;
  //     font-weight: 600;
  //     padding: 0.5rem;
  //   }
  // }
}
.simpleParallax {
  visibility: visible;
  z-index: -100;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
  height: 500px;
  width: 100%;

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: none;
    object-fit: cover;
  }
}

.blog-main-image {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  position: relative;
  overflow: hidden;
  top: 0;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .container {
    .container-paragraph {
      position: relative;
      font-size: 20px;
      font-weight: 300;
      color: #212529;
    }
    .breadcrumb {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .breadcrumb-list {
      list-style-type: none;
      text-decoration: none;
      position: relative;

      display: flex;
      justify-content: center;
      .breadcrumb-item {
        a {
          text-decoration: none;
          color: black;
        }
        .home-item {
          color: #bcac76;

          &:hover {
            text-decoration: underline;
            transition: 0.3s;
          }
        }
      }
    }
    .blog-main-container {
      position: relative;

      h1 {
        font-size: 3.5rem;
        margin: 0.7em;
        font-weight: 700;
        line-height: 73px;
      }
    }
  }
}
.contactsection {
  height: max-content;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: white;
  .container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    .row {
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
      .col-md-4 {
        text-align: left;
        h4 {
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.3;
          margin-top: 0;
        }
        p {
          color: #868e96 !important;
          font-weight: 700;
        }
        ul {
          li {
            color: #868e96 !important;
            font-weight: 700;
          }
        }
      }
    }
  }
}
.map {
  background-color: #e9ecef !important;
  .container-fluid {
    .row {
      .col-lg-6 {
        padding-left: 0 !important;
        #map {
          min-height: 500px;
          height: 100%;
          position: relative;
        }
      }
      .stores {
        padding: 6rem !important;
        h2 {
          color: #868e96;
          font-weight: 700;
          margin-bottom: 3rem;
          font-size: 4.5rem;
        }
        .row {
          padding-top: 1.5rem;
          padding-bottom: 1.5rem;
          flex-wrap: wrap;
          .col-6 {
            align-items: center;
            h4 {
              font-size: 1.5rem;
              margin-top: 0;
              font-weight: 700;
            }
          }
          .text-sm {
            font-size: 14px !important;
            color: #212529;
            font-weight: 400;
          }
        }
      }
    }
  }
}
.getintouch-section {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: white;
  .getintouch-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    .row {
      flex-wrap: wrap;
      .col-lg-3 {
        flex: 0 0 25%;
        h5 {
          line-height: 1;
          font-weight: 700;
          margin-bottom: 3rem;
          font-size: 5.5rem;
        }
        ul {
          font-size: 2rem;
          li {
            margin-right: 1.5rem;
            a {
              color: #bcac76;
              &:hover {
                color: darken(#bcac76, 10%);
              }
            }
          }
        }
      }
      .col-lg-8 {
        margin-left: auto;
        form {
          .row {
            flex-wrap: wrap;
            .col-sm-6 {
              .formname {
                margin-bottom: 1rem;
                label {
                  font-weight: bold;
                }
                .formcontrol {
                  border-top: none;
                  border-right: none;
                  border-left: none;
                  outline: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
