@font-face {
  font-family: "VremenaGrotesk";
  src: url("/vremena-grotesk/") format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: VremenaGrotesk, sans-serif;
}

.top-row {
  width: 100vw;
  height: 55px;
  position: relative;
  background-color: #e9ecef;
}
.top-row .container-fluid {
  position: relative;
  padding: 20px 20px;
}
.top-row .contacts-list {
  list-style-type: none;
  font-size: 15px;
}
.top-row .contacts-list .fa-twitter {
  margin-left: 10px;
  font-size: 14px;
}
.top-row .contacts-list .fa-phone {
  margin-left: 20px;
  background-color: transparent;
  font-size: 18px;
}
.top-row .contacts-list .phone-number {
  margin-left: 10px;
  font-size: 14px;
}
.top-row .contacts-list li i {
  color: #343a40;
}
.top-row .contacts-list :hover:not(.phone-number):not(.fa-phone) {
  transition: 0.2s;
  color: #bcac76;
}
.top-row .top-row-content .left-side-contacts-container {
  padding-top: 10px;
}
.top-row .top-row-content .text-container {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #343a40;
  padding-top: 10px;
}
.top-row .top-row-content .language .dropdown-toggle {
  border: transparent;
  border-right: 1px solid #dee2e6;
  border-radius: 0px;
  font-size: 14px;
  font-weight: 300;
}
.top-row .top-row-content .language .dropdown-menu {
  border: transparent;
  background-color: white;
  transition: 0.5s;
  text-align: left;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.175);
  border-radius: 0px;
  padding: 0.5rem 0;
}
.top-row .top-row-content .language .dropdown-menu .dropdown-item {
  color: #868e96;
  font-size: 14px;
  font-weight: 600;
  padding: 0.5rem;
}
.top-row .top-row-content .currency .dropdown-toggle {
  border: transparent;
  border-radius: 0px;
  font-size: 14px;
  font-weight: 300;
}
.top-row .top-row-content .currency .dropdown-menu {
  border: transparent;
  background-color: white;
  text-align: left;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.175);
  border-radius: 0px;
  padding: 0.5rem 0;
}
.top-row .top-row-content .currency .dropdown-menu .dropdown-item {
  color: #868e96;
  font-size: 14px;
  font-weight: 600;
  padding: 0.5rem;
}

nav {
  padding: 1rem 2rem !important;
}
nav .container-fluid {
  background-color: transparent;
}
nav .index-btn {
  font-size: 16px;
  font-weight: 400;
}
nav .search-bar {
  margin-left: auto;
  margin-right: 3rem;
  width: 300px;
}
nav .search-bar button {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  outline: none;
  background-color: transparent;
  margin-left: -10px;
}
nav .search-bar button i {
  position: relative;
  top: 4px;
  font-size: 24px;
}
nav .search-bar .search-nav {
  outline: 0;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid black;
  border-radius: 0;
}
nav .login-checkout-container ul {
  margin-bottom: 0 !important;
  font-size: 24px;
  list-style-type: none;
}

@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@media (max-width: 767px) {
  .left-side-contacts-container {
    display: none;
  }
  .text-container {
    text-align: left !important;
  }
}
@media (max-width: 575px) {
  .col-md-4.col-sm-6.language-currency {
    display: none !important;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(2.7rem);
    opacity: 1;
  }
}
.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/*# sourceMappingURL=index.css.map */
