$primary-color: #e9ecef;
$secondary-color: #bcac76;
$icons-color: #343a40;

@font-face {
  font-family: "VremenaGrotesk";
  src: url("/vremena-grotesk/") format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: VremenaGrotesk, sans-serif;
}

.top-row {
  width: 100vw;
  height: 55px;
  position: relative;
  background-color: $primary-color;
  .container-fluid {
    position: relative;
    padding: 20px 0px;
  }
  .contacts-list {
    list-style-type: none;
    font-size: 15px;
    .fa-twitter {
      margin-left: 10px;
    }
    .fa-phone {
      margin-left: 20px;
      background-color: transparent;
    }
    li i {
      color: $icons-color;
    }
    :hover {
      transition: 0.2s;
      color: $secondary-color;
    }
  }
  .top-row-content {
    .text-container {
      text-align: center;
    }
    .language {
      .dropdown-toggle {
        border: transparent;
        border-right: 1px solid rgba($color: #dee2e6, $alpha: 1);
        border-radius: 0px;
        height: 20px;
      }
      .dropdown-menu {
        border: transparent;
        background-color: white;
        transition: 0.5s;
        text-align: left;
        .dropdown-item {
          color: #868e96;
          font-size: smaller;
          font-weight: 600;
        }
      }
    }
    .currency {
      .dropdown-toggle {
        border: transparent;
        border-radius: 0px;
      }
      .dropdown-menu {
        border: transparent;
        background-color: white;
        transition: 0.5s;
        text-align: left;
        .dropdown-item {
          color: #868e96;
          font-size: smaller;
          font-weight: 600;
        }
      }
    }
  }
}
