@font-face {
  font-family: "VremenaGrotesk";
  src: url("/vremena-grotesk/") format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: VremenaGrotesk, sans-serif;
}

.top-row {
  width: 100vw;
  height: 55px;
  position: relative;
  background-color: #e9ecef;
}
.top-row .container-fluid {
  position: relative;
  padding: 20px 20px;
}
.top-row .contacts-list {
  list-style-type: none;
  font-size: 15px;
}
.top-row .contacts-list .fa-twitter {
  margin-left: 10px;
  font-size: 14px;
}
.top-row .contacts-list .fa-phone {
  margin-left: 20px;
  background-color: transparent;
  font-size: 18px;
}
.top-row .contacts-list .phone-number {
  margin-left: 10px;
  font-size: 14px;
}
.top-row .contacts-list li i {
  color: #343a40;
}
.top-row .contacts-list :hover:not(.phone-number):not(.fa-phone) {
  transition: 0.2s;
  color: #bcac76;
}
.top-row .top-row-content .left-side-contacts-container {
  padding-top: 10px;
}
.top-row .top-row-content .text-container {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #343a40;
  padding-top: 10px;
}
.top-row .top-row-content .language .dropdown-toggle {
  border: transparent;
  border-right: 1px solid #dee2e6;
  border-radius: 0px;
  font-size: 14px;
  font-weight: 300;
}
.top-row .top-row-content .language .dropdown-menu {
  border: transparent;
  background-color: white;
  transition: 0.5s;
  text-align: left;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.175);
  border-radius: 0px;
  padding: 0.5rem 0;
}
.top-row .top-row-content .language .dropdown-menu .dropdown-item {
  color: #868e96;
  font-size: 14px;
  font-weight: 600;
  padding: 0.5rem;
}
.top-row .top-row-content .currency .dropdown-toggle {
  border: transparent;
  border-radius: 0px;
  font-size: 14px;
  font-weight: 300;
}
.top-row .top-row-content .currency .dropdown-menu {
  border: transparent;
  background-color: white;
  text-align: left;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.175);
  border-radius: 0px;
  padding: 0.5rem 0;
}
.top-row .top-row-content .currency .dropdown-menu .dropdown-item {
  color: #868e96;
  font-size: 14px;
  font-weight: 600;
  padding: 0.5rem;
}

nav {
  padding: 1rem 2rem !important;
}
nav .container-fluid {
  background-color: transparent;
}
nav .index-btn {
  font-size: 16px;
  font-weight: 600;
}
nav .navbar-nav {
  color: #8a8a8a;
  font-size: 16px;
  font-weight: 500;
}
nav .search-bar {
  margin-left: auto;
  margin-right: 3rem;
  width: 300px;
}
nav .search-bar button {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  outline: none;
  background-color: transparent;
  margin-left: -10px;
}
nav .search-bar button i {
  position: relative;
  top: 4px;
  font-size: 24px;
}
nav .search-bar .search-nav {
  outline: 0;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid black;
  border-radius: 0;
}
nav .login-checkout-container ul {
  margin-bottom: 0 !important;
  font-size: 24px;
  list-style-type: none;
  gap: 20px;
}
nav .login-checkout-container ul .shopping-cart-items-count {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  text-align: center;
  background-color: #bcac76;
  position: absolute;
  font-size: 12px;
  right: 80px;
  color: white;
}
nav .login-checkout-container ul li button {
  border: none;
  background-color: transparent;
  outline: none;
}

.custom-svg-blob {
  height: 800px;
  width: 800px;
  position: absolute;
  top: -250px;
  left: -225px;
  z-index: -100;
}

.swiper-container {
  width: 100vw;
  height: 50vh;
  min-height: 500px;
}
.swiper-container .swiper-pagination {
  position: relative;
}
.swiper-container .clock-section {
  text-align: center;
  position: relative;
}
.swiper-container .clock-section svg {
  position: absolute;
  top: 0 !important;
  height: 450px;
  z-index: -10;
  left: 160px;
}
.swiper-container .chair-section {
  text-align: center;
  position: relative;
}
.swiper-container .chair-section svg {
  position: absolute;
  top: -35px !important;
  height: 450px;
  z-index: -10;
  left: 160px;
}
.swiper-container .box-section {
  text-align: center;
  position: relative;
}
.swiper-container .box-section svg {
  position: absolute;
  top: 0px !important;
  height: 450px;
  z-index: -10;
  left: 160px;
}
.swiper-container .col-sm-6 p {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
}
.swiper-container .col-sm-6 h2 {
  font-size: 72px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.swiper-container .col-sm-6 img {
  max-height: 500px;
}
.swiper-container .col-sm-6 .start-shopping-btn {
  border-radius: 0;
  font-weight: bold;
  color: #bcac76;
  border-color: #bcac76;
  text-align: center;
  padding: 8px 12px;
  letter-spacing: 0.3em;
  font-size: smaller;
  text-transform: uppercase;
}
.swiper-container .col-sm-6 .start-shopping-btn:hover {
  color: black !important;
  background-color: #bcac76 !important;
}

.slide-container {
  max-width: 1140px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.slide-container .text-slider .text-muted {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: normal;
  text-transform: none;
  margin-bottom: 1rem;
}

.section-one {
  padding: 6rem 0;
}
.section-one .main-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}
.section-one .main-container .col-xl-8 {
  margin-bottom: 75px;
}
.section-one .main-container .col-xl-8 .p-top {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #8a8a8a;
  font-weight: 700;
  font-size: 16px;
}
.section-one .main-container .col-xl-8 h3 {
  font-size: 28px;
  font-weight: 700;
}
.section-one .main-container .col-xl-8 p {
  font-size: 20px;
  font-family: 300;
  line-height: 32px;
  color: #8a8a8a;
}
.section-one .main-container .products-toprow {
  flex-wrap: wrap;
}
.section-one .main-container .products-toprow .col-md-4 {
  padding: 15px 15px 0px 15px;
}
.section-one .main-container .products-toprow .product-book {
  width: 100%;
}
.section-one .main-container .products-toprow .col-md-4 .books-text-container a {
  text-decoration: none;
  color: black;
  font-size: 32px;
  font-weight: 700;
  line-height: 0%;
}
.section-one .main-container .products-toprow .col-md-4 .books-text-container a h3 {
  font-weight: 700;
  margin-bottom: 16px !important;
}
.section-one .main-container .products-toprow .col-md-7 {
  margin-left: auto;
  margin-bottom: 45px;
  position: relative;
  padding: 0px 15px;
  transition: 0.5s;
}
.section-one .main-container .products-toprow .col-md-7:hover {
  transform: scale(1.05);
}
.section-one .main-container .products-toprow .col-md-7 .chair-text-container {
  position: absolute;
  line-height: 0.5;
  left: -65px;
  top: 18%;
  text-align: left;
}
.section-one .main-container .products-toprow .col-md-7 .chair-text-container a {
  text-decoration: none;
  color: black;
  font-size: 32px;
  font-weight: 700;
  line-height: 0%;
}
.section-one .main-container .products-toprow .col-md-7 .chair-text-container a h2 {
  font-weight: 700;
  margin-bottom: 16px !important;
}
.section-one .main-container .products-toprow .col-md-7 .chair-text-container a .chair-price {
  font-size: 16px;
  margin-bottom: 26px;
}
.section-one .main-container .products-toprow .col-md-7 .chair-text-container p .shop-now-btn {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  padding: 12px 0px 12px 0px;
}
.section-one .main-container .products-toprow .product-chair {
  width: 35em;
  max-height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@media (max-width: 767px) {
  .left-side-contacts-container {
    display: none;
  }
  .text-container {
    text-align: left !important;
  }
}
@media (max-width: 575px) {
  .col-md-4.col-sm-6.language-currency {
    display: none !important;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(2.7rem);
    opacity: 1;
  }
}
.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/*# sourceMappingURL=index.css.map */
